<html lang="pt">
<head>
    <% include ../partes/head %>
    <link rel="stylesheet" type="text/css" href="/assets/stylesheets/cadquest.css">
    <link rel="stylesheet" type="text/css" href="/assets/stylesheets/admin.css">
</head>
<body id="Cdq">
<div class="all">
</div>
<main id="panel" class="allPage cadquestPage">
  <div id="cadQuestContent" class="layout">
  <div class="backTopper correctAdm">
  </div>
  <% include ../partes/topmenu.ejs %>

        <div class="container-fluid" id="Admadmin">
            <span id="pgName"> Administrador </span>
          <div class="backPages">

          <div class="content layoutInner " id="cadquestCT" >
            <h1></h1>

            <% if(message.length > 0){ %>
                <div class="alert alert-info alert-CadQuest" style="text-align: center;"><%= message %></div>
            <% } %>

            <br>
            <div id="CTAdmin">
             <div id="blc1">
              <form action="/upFile" method="POST" enctype="multipart/form-data">
              <h1>Inserir no Banco</h1>
              <select class="Tables form-control" name="tabelaName" required>
                <option disabled>Tabela</option>
                <option disabled selected> </option>
              </select>
              <input type="file" name="txt" id="txt"   filename="txt"  required >
                <input type="submit" value="Inserir" >             
              </form>
             </div>
            <div id="blc2"> 
             <form action="/deleteBD" method="POST" enctype="multipart/form-data">
               <h1>Deletar do Banco</h1>
             <select class="Tables form-control" name="tabelaNameDel" id="tabelaNameDel">
               <option disabled>Tabela</option>
               <option disabled selected> </option>
             </select>
             <input type="file" name="txt" id="txt"   filename="txt" required>
               <input type="submit" value="Deletar" >             
             </form>
            </div>
          </div>
          </div>
          <div>
          <br>
          
          <textarea id="textAr" placeholder=">_ Insira outro comando "></textarea>
          </div>
      </div>

      </div>
      </div>
</main>
<script>
$(function(){ 
$("#textAr").keypress(function(e) {
    if(e.which == 13) {
      if($("#textAr").val()){
        var res = $("#textAr").val();
        ajaxCall("/putBD",res);
        $('#textAr').val('');
      }
    }
});
     $.ajax({
         url: "/findTables", // AQUI É A URL QUE SERA ENVIADO
         type: "POST", //TIPO DE ENVIO
         dataType: "json", //TIPO DE DADO QUE SERA PASSADO
         contentType: "application/json",
         cache: false,
         timeout: 5000,
         complete: function() {
         },success: function(data) {
            //Append data acquired in database
            for(i in data){
                  $('.Tables').append($('<option>', { 
                                      value: data[i],
                                      text : data[i]
                  }));
            }

        },error: function() {
             console.log('process error');
         },
     });


});
</script>

<script type="text/javascript" src="/assets/js/cadquest.js"></script>

    <% include ../partes/modal %>
    <% include ../partes/modalPriv %>
</body>

</html>
