<html lang="pt">

<head>
  <% include ../partes/head %>
  <link rel="stylesheet" type="text/css" href="/assets/stylesheets/cadquest.css">
</head>

<body id="Cdq">
  <div class="all">

    <div class=" col-xs-2 col-sm-2 col-md-2 col-lg-2 fixed">
      <% include ../partes/sidemenu.ejs %>
    </div>

  </div>

  <main id="panel" class="allPage cadquestPage">
    <div id="cadQuestContent" class="layout">
      <div class="backTopper">
      </div>
      <% include ../partes/topmenu.ejs %>

        <div class="container-fluid">
          <span id="pgName"> Criar
              <span id="traco"> > </span>
          <span id="pgAtual"> Questao </span>
          </span>

          <!-- BOTAO PARA CELULAR -->
          <button class="toggle-button no-border" data-toggle="button">
            <img id="hbmenu" src="/assets/images/menu.png">
          </button>
          <!-- ***************** -->

          <div class="backPages">   <!-- Background da página -->

            <!-- Conteudo da página -->
            <div class="content layoutInner " id="cadquestCT">
              <h1>Cadastrar questões</h1>
              <br>
              <!-- Mensagem de alerta -->
              <% if(message.length> 0){ %>
                <div class="alert alert-info alert-CadQuest" style="text-align: center;">
                  <%=message %>
                </div>
                <% } %>
                  <!-- Formulario  -->
                  <form class="form-inline" method="Post" action="/cadastroQuest" name="formulario" id="formulario">


                    <div class="form-group row  col-md-12">

                      <select class="form-control" id="visibilidade" name="visibilidade" style="width:300px;" required>
                        <option disabled selected value="">Visibilidade</option>
                        <option>Privada</option>
                        <option>Pública</option>
                      </select>&nbsp&nbsp

                      <select class="form-control" id="disciplina" name="disciplina" style="width:300px;" required>
                        <option disabled selected value="">Disciplina</option>
                      </select>&nbsp&nbsp

                    </div>
                    <br>
                    <br>
                    <div class="form-group row  col-md-12">

                      <select class="form-control" id="materia" name="materia" style="width:300px;" required>
                        <option disabled selected value="">Materia</option>
                      </select>&nbsp&nbsp

                      <select class="form-control" id="serie" name="serie" style="width:300px;" required>
                        <option disabled selected value="">Série</option>
                        <option>1º ano</option>
                        <option>2º ano</option>
                        <option>3º ano</option>
                      </select>&nbsp&nbsp

                    </div>
                    <br>
                    <br>
                    <div class="form-group row  col-md-12">
                      <input type="number" id="criacao" name="criacao" value="" placeholder="Ano de criação" class="form-control" style="width:300px;" min="1837" required>&nbsp&nbsp

                      <select class="form-control" id="tipo" name="tipo" style="width:300px;" required>
                        <option disabled selected value="">Tipo</option>
                        <option>Discursiva</option>
                        <option>Objetiva</option>
                      </select>&nbsp&nbsp

                    </div>
                    <br>



                    <div class="form-group row  col-md-12">
                      <!-- Grau de dificuldade -->
                      <br>
                      <span id="lvlQuest"> Dificuldade: </span>


                      <div class="rating">

                        <input type="radio" id="star3" class="star" name="star" value="Dificil" required/>
                        <label class="full" for="star3" title="Difícil"></label>

                        <input type="radio" id="star2" class="star" name="star" value="Media" required/>
                        <label class="full" for="star2" title="Média"></label>

                        <input type="radio" id="star1" class="star" name="star" value="Facil" required/>
                        <label class="full" for="star1" title="Fácil"></label>

                      </div>


                    </div>
                    <br>
                    <br>
                    <br>

                    <textarea id="enunciado" name="enunciado" rows="10" class="form-control" style="resize: none; width:610px;" placeholder="Enunciado" required></textarea>
                    <br>
                    <br>

                    <div class="" id="dadosQuest" name="dadosQuest" style="text-align:center; margin-left:0px;width:610px;" required>

                    </div>

                  </form>

            </div>

          </div>

        </div>
    </div>
  </main>
  <script type="text/javascript" src="/assets/js/menu.js"></script>
  <script type="text/javascript" src="/assets/js/cadquest.js"></script>

  <% include ../partes/modal %>
  <% include ../partes/modalPriv %>
</body>

</html>