<!-- views/signup.ejs -->
<!doctype html>
<html>
  <head>
    <title>Cadastro</title>
    <link rel="stylesheet" type="text/css" href="/assets/stylesheets/cadUser.css">
    <% include ../partes/head %>
    <style>
      body {  background-color: #3DA9E3 !important;  }
    </style>
  </head>
  <body>
    <div class="top1"></div>
    <main>
      <div class="container all " style="background-color:#FEFEFE">
        <div class="col-sm-9 col-sm-offset-2">
          <br>
          <h1 style="opacity:0.8;"> Cadastro </h1>
          <br>
          <% if (message.length > 0) { %>
          <div class="alert alert-danger"><%= message %></div>
          <% } %>
          <!-- LOGIN FORM -->
          <form  method="post" name="formCad" class="formCad">
            <div class="form-group">
              <input type="text" class="form-control" id="matricula" name="matricula" placeholder="Matricula" required />
            </div>
            <div class="form-group">
              <input type="text" class="form-control" name="cpf" id="cpf" placeholder="CPF" maxlength="14" required />
            </div>
            <br>
            <br>
            <div class="form-group">
              <input type="text" class="form-control" name="nome" id="nome" placeholder="Nome" required />
            </div>
            <div class="form-group">
              <input type="text" class="form-control" id="celular" name="celular" placeholder="Celular" required />
            </div>
            <div class="form-group date" data-provide="datepicker">
              <input type="text" id="datepicker" class="form-control"  name="dataNasc"  placeholder="Data de Nascimento" required />
              <input type="text"  id="alt-date"  name="data input-group-addon"  style="visibility: hidden;">
            </div>
            <div class="form-group">
              <label>Categoria</label><br>
              <select class="selectpicker show-tick" name="categoria" id="categoria" required />
                <option value="Professor">Professor</option>
              </select>
            </div>
            <div class="form-group">
              <input type="email" class="form-control" name="email" id="email"   placeholder="Email" required />
            </div>
            <div class="form-group">
              <!-- Verificar se password funciona -->
              <input type="password" class="form-control" name="senha" id="senha" placeholder="Senha" required />
            </div>
            <a href="/"><button type="button" class="btn btn-default  " style="float:left; margin-bottom:50px;">Voltar</button></a>
            <input type="button" id="btn-cad" class="btn btn-primary" style="float:right; margin-bottom:50px;" value="Cadastrar">
          </form>
          <br><br><br>
          <br><br><br>
          <br><br><br>
          <hr>
        </div>
      </div>
    </main>
    <!-- UPLOAD -->
    <form  id="uploadForm" action="/api/photo/" enctype="multipart/form-data"  class="formCfoto container " method="post">
      <div class="highlight">
        <h1 style="opacity:0.7;" >Só mais uns detalhes...</h1>
      </div>
      <div class="newDatas">
        <label for="userPhoto">
        <img id="dropTarget" ></img>
        </label>
        <br>
        <input type='file' name="userPhoto"  id="userPhoto" value="VIADAO"   filename="VIADAO" class="inputfile" name='userPhoto[]' />
        <label for="userPhoto" ><span>Selecionar Foto</span></label>
      </div>
      <div class="dados_preCad">
        <label for="nome"      id="nomemat">     </label><br>
        Matricula : <label for="matricula" id="matriculaPost"></label><br>
        <input type="hidden" name="matriculaSend" id="matriculaSend">
        <br>
      </div>
      <input type="submit" style="float: right;" value="Finalizar" name="submit" class="enviado btn-default"  >
    </form>
    <script type="text/javascript" src="/assets/js/cad.js"></script>
  </body>
</html>