<!doctype html>
<html>
<head>
    <% include ../partes/head %>
<script>


</script>
<script type="text/javascript">

   
var novaRow = [];
  var x = 0;
  function trocarTabela(element){
  $("#div2").show();

    var questRepetida = false;
    var table = document.getElementById('tableCandidatas');
    var row = parseInt(element.parentNode.parentNode.rowIndex);

    novaRow[x] = '<tr word-wrap: break-word;><td style="text-align: left">'+ document.getElementById("materia").value +'</td><td style="text-align: left;">' + table.rows[row].cells[0].innerHTML + '</td><td style="text-align: center;">' + table.rows[row].cells[1].innerHTML + '</td><td style="text-align: center;">' + table.rows[row].cells[2].innerHTML + '</td><td><button class="btn btn-danger btn-block btn-removes" onclick="removerRow(this)">Remover</button></td></tr>';

    for(i = 0; i< novaRow.length-1; i++){
      if (novaRow[x] == novaRow[i]) {

        alert("Questão já selecionada!");
        questRepetida = true;
        break;
      }
    }

    if (!questRepetida) {
      document.getElementById("questSelecionadas").innerHTML += novaRow[x];
      x++;
    }

  }

  function removerRow(btn) {
    x--;
  var row = btn.parentNode.parentNode;
  row.parentNode.removeChild(row);
  novaRow[x] = "";
}
</script>
<link rel="stylesheet" type="text/css" href="/assets/stylesheets/cadquest.css">
<link rel="stylesheet" type="text/css" href="/assets/stylesheets/cadProva.css">

</head>
<body id="Cdq" >
<div class="all">



    <div class=" col-xs-2 col-sm-2 col-md-2 col-lg-2 fixed">
    <% include ../partes/sidemenu.ejs %>
    </div>

</div>

<main id="panel" class="allPage cadquestPage">
<div id="cadQuestContent" class="layout">
<div class="backTopper correctCadProva">
</div>
<% include ../partes/topmenu.ejs %>
<div class="container-fluid">
    <span id="pgName"> Criar
      <span id="traco"> > </span>
      <span id="pgAtual">Prova </span>
    </span>
    <!-- BOTAO PARA CELULAR -->
    <button class="toggle-button no-border" data-toggle="button" >
        <img id="hbmenu" src="/assets/images/menu.png">
    </button>

        <div class="backPages">

          <div class="content layoutInner" id="cadprovaCT">
            <h3>Cadastro de Provas</h3>
            <br>
            <!-- <div class="" style="float: left; position: relative;"> -->

              <form class="form-inline"  method="Post" action="" name="cadastroProvas">

                <!--<input type="text" disabled id="autor" value=<%= user %> placeholder="Autor" class="form-control" style="width:300px;">&nbsp&nbsp-->

                <select class="form-control" id="disciplina" name="disciplina"  required>
                  <option disabled selected value="">Disciplina</option>
                </select>&nbsp&nbsp

                <select class="form-control" id="serie" >
                  <option disabled selected value="">Série</option>
                  <option>1º ano</option>
                  <option>2º ano</option>
                  <option>3º ano</option>
                </select>
                <br><br>

                <select class="form-control" id="tipo" >
                  <option disabled selected value="">Tipo</option>
                  <option>Prova</option>
                  <option>Teste</option>
                  <option>Segunda chamada</option>
                </select>&nbsp&nbsp

                <input type="text"  id="nomeP" placeholder="Nome da Avaliação" class="form-control" ><br>
              </form>

                  <hr  id="hrCadProva">
                <H4>Questões</H4><br>

                <select class="form-control" id="materia" >
                  <option disabled selected value="">Matéria</option>
                </select><br><br>
                  <div id="tableQuestCandidatas">
                    
                <table  class="table table-bordered order-column hover table-responsive "  cellspacing="0" id="tableCandidatas">

                  <thead class="thead-inverse">
                    <tr>
                      <th>Enunciado</th>
                      <th style="align:right; text-align:center;">Tipo</th>
                      <th style="align:right; text-align:center;">Nível</th>
                      <th id="btadd" style="align:right; width:70px text-align:center;">Adicionar</th>
                    </tr>
                  </thead>
                  <tbody id="questCandidatas">
                  </tbody>
                </table>
                  </div>
            <!-- </div> -->

            <div id="div2" style="">
              <label>Prova</label>
              <table  class="table table-bordered order-column hover table-responsive"  cellspacing="0"  style="" id="tableSelecionadas">
                <thead class="thead-inverse">
                  <tr>
                    <th class="celulasCB">Matéria</th>
                    <th>Enunciado</th>
                    <th style=" align:right; text-align:center;">Nível</th>
                    <th style=" align:right; text-align:center;">Tipo</th>
                    <th  style="align:right;"></th>
                  </tr>
                </thead>
                <tbody id="questSelecionadas">
                </tbody >
              </table>
              <button type="button" id="cadastrar" class="btn btn-default" style="position:relative; align:center;">Cadastrar Prova</button>
            </div>

          </div>

        </div>
    </div>
  </main>
<script type="text/javascript" src="/assets/js/cadprova.js"></script>
<script type="text/javascript" src="/assets/js/menu.js"></script>


      <% include ../partes/modal %>
<% include ../partes/modalPriv %>
    </body>

    </html>
