<!doctype html>
<html>
<head>
    <% include ../partes/head %>
<script>
  $( function() {
  $( "#datepicker" ).datepicker({
       yearRange: '1900:2050',
       changeMonth: true,
       changeYear: true,
       altFormat: "yy-dd-mm",
       altField: "#alt-date"
  });
  } );



  $( function() {
    $("#disciplina").change(function(){
      var disciplina = $('#disciplina').val();

      $.ajax({
        url: "/pesqMat",  // AQUI É A URL QUE SERA ENVIADO
        type: "POST",   //TIPO DE ENVIO
        dataType: "json", //TIPO DE DADO QUE SERA PASSADO
        data:JSON.stringify({
          disciplina: disciplina
        }),

        contentType: "application/json",
        cache: false,
        timeout: 5000,
        complete: function() {
          console.log('process complete');
        },
        success: function(data) {
          console.log(disciplina);
          console.log('process sucess');
          $("#questCandidatas").empty();
          $("#questSelecionadas").empty();
          $("#materia").empty();
          $("#materia").append($("<option disabled selected />").val('Matéria').text('Matéria'));
          for(var i = 0; i < data.length; i++) {
            $("#materia").append($("<option />").val(data[i]).text(data[i]));
            console.log(data[i]);
          }
        },

        error: function() {
          console.log('process error');
        },
      });
    });
  });


  $( function() {
    $("#materia").change(function(){
      var materia = $('#materia').val();
      var autor = $('#autor').val();
      $.ajax({
        url: "/pesqQuest",  // AQUI É A URL QUE SERA ENVIADO
        type: "POST",   //TIPO DE ENVIO
        dataType: "json", //TIPO DE DADO QUE SERA PASSADO
        data:JSON.stringify({
          materia: materia,
          autor: autor
        }),

        contentType: "application/json",
        cache: false,
        timeout: 5000,
        complete: function() {
          console.log('process complete');
        },
        success: function(data) {
          console.log(materia);
          console.log('process sucess');
          $("#questCandidatas").empty();
          var dificuldade;
          // <input class="star star_1" id="star_1" type="radio" name="star" value="Fácil" required/>
          // <label class="star star_1" for="star_1" id="label1"></label>



         for(var i = 0; i < data.length; i++) {

           if (data[i][1] == "Fácil") {
             dificuldade = '<input class="star star_1" id="star_1" type="radio" name="A'+data[i][3]+'" checked disabled/><label class="star star_1" for="star_1" id="label1">';
           }
           else if (data[i][1] == "Mediana" || data[i][1] == "Média") {
             dificuldade =  '<input class="star star_2" id="star_2" type="radio" name="A'+data[i][3]+'" checked disabled/><label class="star star_2" for="star_2" id="label2">'+
                            '<input class="star star_2" id="star_2" type="radio" name="B'+data[i][3]+'" checked disabled/><label class="star star_2" for="star_2" id="label2">';
           }
           else if (data[i][1] == "Difícil") {
             dificuldade = '<input class="star star_3" id="star_3" type="radio" name="A'+data[i][3]+'" checked disabled/><label class="star star_3" for="star_3" id="label3">' +
                           '<input class="star star_3" id="star_3" type="radio" name="B'+data[i][3]+'" checked disabled/><label class="star star_3" for="star_3" id="label3">' +
                           '<input class="star star_3" id="star_3" type="radio" name="C'+data[i][3]+'" checked disabled/><label class="star star_3" for="star_3" id="label3">';
           }

           $("#questCandidatas").append($("<tr/>")
           .append($("<td/>").val(data[i][0]).text(data[i][0]))
           .append($("<td style='text-align:center;'/>").val(data[i][2]).text(data[i][2]))
           .append($("<td style='text-align:center;'/>").append(dificuldade))
           .append($("<td  style='align:right; width:100px;'/>")
           .append($("<button class='btn btn-primary btn-block' onclick='trocarTabela(this)'>").text("Adicionar"))
         ));
          console.log(data[i]);
         }
        },

        error: function() {
          console.log('process error');
        },
      });
    });
  });


  $(function(){


      var autor = $('#autor').val();


      $.ajax({
        url: "/pesqDisc",  // AQUI É A URL QUE SERA ENVIADO
        type: "POST",   //TIPO DE ENVIO
        dataType: "json", //TIPO DE DADO QUE SERA PASSADO
        data:JSON.stringify({
          autor: autor
        }),

        contentType: "application/json",
        cache: false,
        timeout: 5000,
        complete: function() {
          console.log('process complete');
        },
        success: function(data) {
          console.log(disciplina);
          console.log('process sucess');
          $("#disciplina").empty();
          $("#disciplina").append($("<option disabled selected />").val('Disciplina').text('Disciplina'));
          for(var i = 0; i < data.length; i++) {
            $("#disciplina").append($("<option />").val(data[i]).text(data[i]));
            console.log(data[i]);
          }
        },

        error: function() {
          console.log('process error');
        },
      });


      if(autor == "Outro"){
        $("#autor").replaceWith('<input type="text" id="autor" name="autor" class="form-control" placeholder="Autor" style="width:300px;"required autofocus>');
        $("#autor").focus();
      }


    });



$(function(){
  $("#cadastrar").click(function(){
    var table = document.getElementById('tableSelecionadas');
    var dados = [];
    var nomeP = $("#nomeP").val();
    var autor = $("#autor").val();
    var disciplina = $("#disciplina").val();
    var serie = $("#serie").val();
    var tipo = $("#tipo").val();
    alert(table.rows.length);
    for(var r = 1; r < table.rows.length; r++)
      dados[r] = table.rows[r].cells[1].innerHTML;

    $.ajax({
          url: "/cadastroProva",  // AQUI É A URL QUE SERA ENVIADO
          type: "POST",   //TIPO DE ENVIO
          dataType: "json", //TIPO DE DADO QUE SERA PASSADO
          data:JSON.stringify({
              dados : dados,
              autor : autor,
              nomeP : nomeP,
              disciplina : disciplina,
              serie : serie,
              tipo : tipo
          }),

          contentType: "application/json",
          cache: false,
          timeout: 5000,
          complete: function() {
            console.log('process complete');
            location.reload();
          },
          success: function(data) {
            console.log('process sucess');
          },

          error: function() {
            console.log('process error');
          },
        });
  });
});

</script>
<script type="text/javascript">
var novaRow = [];
  var x = 0;
  function trocarTabela(element){

    var questRepetida = false;
    var table = document.getElementById('tableCandidatas');
    var row = parseInt(element.parentNode.parentNode.rowIndex);

    novaRow[x] = '<tr><td style="text-align: left;width:125px;">'+ document.getElementById("materia").value +'</td><td style="text-align: left;">' + table.rows[row].cells[0].innerHTML + '</td><td style="text-align: center;">' + table.rows[row].cells[1].innerHTML + '</td><td style="text-align: center;">' + table.rows[row].cells[2].innerHTML + '</td><td><button class="btn btn-danger btn-block" onclick="removerRow(this)">Remover</button></td></tr>';

    for(i = 0; i< novaRow.length-1; i++){
      if (novaRow[x] == novaRow[i]) {
        alert("Questão já selecionada!");
        questRepetida = true;
        break;
      }
    }

    if (!questRepetida) {
      document.getElementById("questSelecionadas").innerHTML += novaRow[x];
      x++;
    }

  }

  function removerRow(btn) {
    x--;
  var row = btn.parentNode.parentNode;
  row.parentNode.removeChild(row);
  novaRow[x] = "";
}
</script>

</head>
<body >

    <div class="all">

  <div class="layout" >

      <% include ../partes/topmenu.ejs %>

            <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 fixed" style="height: 100%!important;">
                <% include ../partes/sidemenu.ejs %>
            </div>
            </div>
          <div class="row">

        <div class="container-fluid">

          <div class="content col-xs-10 col-sm-10 col-md-10 col-lg-10 ">
            <H3>Cadastro de Provas</H3>
            <br>
            <div class="" style="float: left; position: relative;">

              <form class="form-inline"  method="post" action="" name="cadastroProvas">

                <input type="text" disabled id="autor" value=<%= user %> placeholder="Autor" class="form-control" style="width:300px;">&nbsp&nbsp

                <select class="form-control" id="disciplina" style="width:300px;">
                  <option disabled selected>Disciplina</option>

                </select><br><br>

                <select class="form-control" id="serie" style="width:300px;">
                  <option disabled selected>Série</option>
                  <option>1º ano</option>
                  <option>2º ano</option>
                  <option>3º ano</option>
                </select>&nbsp&nbsp

                <select class="form-control" id="tipo" style="width:300px;">
                  <option disabled selected>Tipo</option>
                  <option>Prova</option>
                  <option>Teste</option>
                  <option>Segunda chamada</option>
                </select><br><br>

                <input type="text"  id="nomeP" placeholder="Nome da Avaliação" class="form-control" style="width:612px;"><br>

              </form>

                  <hr style="border: 0.3px solid #DDD; width:610px; margin-left:0px;">
                <H4>Questões</H4><br>

                <select class="form-control" id="materia" style="width:300px;">
                  <option disabled selected>Matéria</option>
                </select><br><br>

                <table class="table" style="width:610px;" id="tableCandidatas">
                  <thead class="thead-inverse">
                    <tr>
                      <th>Enunciado</th>
                      <th style="align:right; text-align:center;">Tipo</th>
                      <th style="align:right; text-align:center;">Nível</th>
                      <th style="align:right; width:75px; text-align:center;">Adicionar</th>
                    </tr>
                  </thead>
                  <tbody id="questCandidatas">
                  </tbody>
                </table>

            </div>

            <div class="" style="position: relative; border-left:1px solid #DDD; margin-left:50px; float:left; height:100%; text-align: center;">
              <table class="table" style="width:750px; margin-left: 50px;" id="tableSelecionadas">
                <thead class="thead-inverse">
                  <tr>
                    <th class="celulasCB">Matéria</th>
                    <th>Enunciado</th>
                    <th style="width: 100px; align:right; text-align:center;">Nível</th>
                    <th style="width: 100px; align:right; text-align:center;">Tipo</th>
                    <th  style="align:right; width:75px;">Remover</th>
                  </tr>
                </thead>
                <tbody id="questSelecionadas">
                </tbody >
              </table>
              <button type="button" id="cadastrar" class="btn btn-default" style="position:relative; align:center;">Cadastrar Prova</button>
            </div>

          </div>

          <div class="footer">
            <footer>
              <% include ../partes/footer %>
            </footer>
          </div>
        </div>

      </div>
    </body>

    </html>
