<html lang="pt">
<head>
  <% include ../partes/head %>
<link rel="stylesheet" type="text/css" href="/assets/stylesheets/cadquest.css">
<link rel="stylesheet" type="text/css" href="/assets/stylesheets/consTurma.css">

</head>
<body id="Cdq">
  <div class="all">



  <div class=" col-xs-2 col-sm-2 col-md-2 col-lg-2 fixed">
  <% include ../partes/sidemenu.ejs %>
  </div>

  </div>
    <main id="panel" class="allPage cadquestPage">
      <form method="" action="" id="form1">

      <div id="cadQuestContent" class="layout">

          <div class="backTopper correctConsTurma">
          </div>
    <% include ../partes/topmenu.ejs %>

    <div class="container-fluid" >
        <span id="pgName"> Cadastrar
          <span id="traco"> > </span>
          <span id="pgAtual">Notas </span>
        </span>
        <!-- BOTAO PARA CELULAR -->
        <button class="toggle-button no-border" data-toggle="button" >
            <img id="hbmenu" src="/assets/images/menu.png">
        </button>
        <!-- ***************** -->

          <div class="backPages">

            <div id="consultaTurmaCT" class="content layoutInner">
              <H3>Cadastro de Notas </H3>


              <div class="" style="float: left; position: relative;">

                <br>

                  <select class="form-control" id="nometurma" name="nometurma" required>
                  <option disabled selected value="" value="">Selecione uma turma</option>
                  </select><br>


              </div>
              <div class="" style="position: relative;
               height: auto; text-align: center;" id="divDados">
               <br>
               <div class="col-xs-3" style="width:300px; margin-bottom: 10px;">
                 <select class="form-control" id="tri" name ="tri" type="select" style="width:100%;" required>
                   <option selected disabled value="">Trimestre</option>
               <option value="1"         >1ª Certificação</option>
               <option value="2"         >2ª Certificação</option>
               <option value="3"         >3ª Certificação</option>
               <option value="4"         >Recuperação</option>
                 </select>
               </div>
               <div class="col-xs-3" style="width:300px; margin-bottom: 10px;">
                 <select class="form-control" id="disciplina" name="disciplina" style="width:100%;" required>
                   <option disabled selected value="" value="">Disciplina</option>
                 </select>
               </div>
<br>
              <table class="table" style="" id="tabelaAlunos">
                <thead class="thead-inverse" style="width:100%">
                  <tr>
                    <th class="cellMeio" style="width:5%">#</th>
                    <th class="cellMeio" style="width:15%">Matrícula</th>
                    <th class="" style="width:50%">Aluno</th>
                    <th class="cellMeio" style="width:15%">Teste</th>
                    <th class="cellMeio" style="width:15%">Prova</th>

                  </tr>

                </thead>
                <tbody id="IzaMyLuv" >

                </tbody>
                <p></p>
              </table><br>

              <button type="submit" class="btn btn-info" id="cadastrarNotas">Cadastrar Notas</button>
<br><br>
            </div>

          </div>
        </div>
      </div>
    </form>
  </main>
  <script type="text/javascript" src="/assets/js/cadnota.js"></script>


<script>

// Set up slideout
var slideout = new Slideout({
'panel': document.getElementById('panel'),
'menu': document.getElementById('sid'),
'padding': 270,
'tolerance': 70,
'easing': 'cubic-bezier(.51,2,.81,.41)',
});

slideout.open();
// Toggle button
$(".toggle-button").click(function() {
    slideout.toggle();
});

$(document).ready(function() {

    $(window).resize(function(){
        if ($(window).width() <= 1024){
            slideout.close();
        }else {
            slideout.open();
        }
    });
});
</script>

<% include ../partes/modal %>
<% include ../partes/modalPriv %>
</body>
</html>
