<html lang="pt">
<head>
  <% include ../partes/head %>
  <script>
    var mat = <%= userMat %>; //isso da cerriato
    
    $(function(){
      $('#textAreas').hide();
      $('#btAreas').hide();
      $.ajax({
        url: "/mostraturma",
        type: "POST",
        dataType: "json",
        data:JSON.stringify({matricula : mat}),
        contentType: "application/json",
        cache: false,
        timeout: 5000,
        complete: function() {},
        success: function(data) {
          for (var i = 0 ; i < data.length; i++) {$('#nometurma').append("<option>"+data[i].toString()+"</option>");}
        },
        error: function() {console.log('process error mostraturma');},
      });
    });


    $( function(){
      $("#btn-consultar").click(function(){
        var  nometurma = $('#nometurma').val();
        $.ajax({
          url: "/pegaaluno", 
          type: "POST",
          dataType: "json", 
          data:JSON.stringify({
            nometurma : nometurma
          }),
          contentType: "application/json",
          cache: false,
          timeout: 5000,
          complete: function() {console.log('process complete :/pegaaluno');},
          success: function(data) {
            console.log(data);
            var alunos=[];
            alunos = data;
            $("#IzaMyLuv").empty();
            for(var i = 0; i < data.length; i++) {
              $("#IzaMyLuv").append($("<tr/>")
                .append($("<td />").val(i+1).text(i+1))
                .append($("<td />").val(data[i][1]).text(data[i][1]))
                .append($("<td />").val(data[i][0]).text(data[i][0]))
                .append($("<td />").val(data[i][2]).text(data[i][2]))
                .append("<input type='checkbox' id='chk' name='chk'  /> ")
                .append($("<td  />")
                  ));
              console.log(data[i]);
            }
            console.log('process sucess');
          },
          error: function() { console.log('process error');},
        });
      });
    });

    $(document).on('change', '[type=checkbox]',function(e){
      var umaChecked = $('input[name="chk"]:checked').length > 0;
      if (umaChecked){ //NAO TA CERTO MASSSSSSSSSS FUNCIONA
        $('#textAreas').show();
        $('#btAreas').show();
      } 
      else{
        $('#textAreas').hide();
        $('#btAreas').hide();
      }
    });

  </script>
</head>
<body>
  <div class="all">

      <% include ../partes/topmenu.ejs %>

            <div class=" col-xs-2 col-sm-2 col-md-2 col-lg-2 fixed">
                <% include ../partes/sidemenu.ejs %>
            </div>
    <div class="row">

      <div class="container-fluid">

        <div class="content col-xs-10 col-sm-10 col-md-10 col-lg-10 ">
          <H3>Consulta de Turmas </H3>
          <div class="" style="float: left; position: relative;">

            <br>
            Turma: <select class="form-control" id="nometurma" name="turman" style="width:300px;">
            <option disabled selected>Selecione uma turma</option>
            <option id="btn-mostraturma">
            </select>&nbsp&nbsp<br><br>

            <button  name="consultar" id="btn-consultar"  class="btn btn-default">Consultar</button>

          </div>



          <div class="" style="position: relative; border-left:1px solid #DDD; margin-left:50px; 
          float:left; height:100%; text-align: center;">
          <table class="table" style="width:750px; margin-left: 50px;">
            <thead class="thead-inverse">
              <tr>
                <th class="celulasCB"   >N° Chamada</th>
                <th class="celulasCB" >Matrículas</th>
                <th class="celulasCB" >Nomes dos Alunos</th>
                <th class="celulasCB" >Contatar</th>

              </tr>

            </thead>
            <tbody id="IzaMyLuv">

            </tbody>
          </table>
          <textarea rows="10" cols="50" id="textAreas"> </textarea> <br><input id="btAreas" type="button" value="Enviar" class="btn btn-primary">

        </div>

      </div>
      <div class="footer">
        <footer>
          <% include ../partes/footer %>
        </footer>
      </div>
    </div>
  </div>
</body>

</html>
