<html lang="pt">
<head>
  <% include ../partes/head %>
  <script>


  </script>
<link rel="stylesheet" type="text/css" href="/assets/stylesheets/cadquest.css">
  <link rel="stylesheet" type="text/css" href="/assets/stylesheets/consTurma.css">

</head>
<body id="Cdq">
  <div class="all">


    <!-- MENU LATERAL -->
  <div class=" col-xs-2 col-sm-2 col-md-2 col-lg-2 fixed">
  <% include ../partes/sidemenu.ejs %>
  </div>

  </div>
    <main id="panel" class="allPage cadquestPage">
      <div id="cadQuestContent" class="layout">

          <div class="backTopper correctConsTurma">
          </div>
          <!-- TOP BAR -->
          <% include ../partes/topmenu.ejs %>
          <!-- FIM TOP BAR -->


    <div class="container-fluid" >
        <span id="pgName"> Consultar
          <span id="traco"> > </span>
          <span id="pgAtual">Turmas </span>
        </span>
        <!-- BOTAO PARA CELULAR -->
        <button class="toggle-button no-border" data-toggle="button" >
            <img id="hbmenu" src="/assets/images/menu.png">
        </button>
        <!-- ***************** -->

          <div class="backPages">
            <!-- Título da Página  -->
            <div id="consultaTurmaCT" class="content layoutInner">
              <H3>Consulta de Turmas </H3>

                  <div class="alert alert-info " id="MsgconsTurma" style="text-align: center;"><%= message %></div>

              <div class="" style="float: left; position: relative;">

                <br>
                <!-- Caixa de seleção de turma  -->
                <select class="form-control" id="nometurma" name="turman" style="">
                <option disabled selected value="">Selecione uma turma</option>
                </select><br>

              </div>


              <!-- TAabela onde será exibida a lista de alunos  -->
              <div class="" style="position: relative;
               height: auto; text-align: center;" id="divDados">
              <table class="table" style="" id="tabelaAlunos">
                <thead class="thead-inverse" style="width:100%">
                  <tr>
                    <th class="cellMeio" style="width:5%">#</th>
                    <th class="cellMeio" style="width:20%">Matrícula</th>
                    <th class="" style="width:75%">Aluno</th>

                  </tr>

                </thead>
                <tbody id="tbturma">

                </tbody>
                <p></p>
              </table>

              <!-- Mandar email para turma  -->
              <button type="button" id="contact" class="btn btn-info">Contatar Turma</button>

<br><br>
              <!-- Título do email  -->
             <input type="text" placeholder="Título" name = "textCont" id="textCont" class="form-control" style="width:375px; margin-left: 50px; float:center;"><br>
             <!-- Conteúdo do email  -->
            <textarea rows="10"  cols="50" name = "textAreas" id="textAreas" class="form-control" style="resize:none; width:750px; margin-left: 50px; align:center; float:center;"> </textarea> <br>
             <button type="submit" id="btAreas" value="Enviar" class="btn btn-primary" name="send" style="margin-bottom: 5%;">Enviar
            </button>

    <!--<input id="btAreas" type="button" value="Enviar" class="btn btn-primary"> -->
            </div>

          </div>


        </div>
      </div>
  </main>
</body>
<script type="text/javascript" src="/assets/js/consturma.js"></script>
<script type="text/javascript" src="/assets/js/menu.js"></script>

<!-- Tela para alterar configurações básicas do usuário  -->
<% include ../partes/modal %>
<!-- Tela para alterar configurações de segurança do usuário  -->
<% include ../partes/modalPriv %>
</html>
