<html lang="pt">
<head>
  <% include ../partes/head %>
  <script>
  

  </script>
</head>
<body>
  <div class="all">



  <div class=" col-xs-2 col-sm-2 col-md-2 col-lg-2 fixed">
  <% include ../partes/sidemenu.ejs %>
  </div>

  </div>
    <main id="panel" class="allPage ">
      <div class="backTopper">
</div>
<% include ../partes/topmenu.ejs %>

<div class="container-fluid " >
    <span id="pgName"> Consultar 
      <span id="traco"> > </span>
      <span id="pgAtual">Turmas </span>
    </span>
    <!-- BOTAO PARA CELULAR -->
    <button class="toggle-button no-border" data-toggle="button" >
        <img id="hbmenu" src="/assets/images/menu.png">
    </button>


    

      <div class="container-fluid">

        <div class="content col-xs-10 col-sm-10 col-md-10 col-lg-10 ">
          <H3>Consulta de Turmas </H3>
          <div class="" style="float: left; position: relative;">

            <br>

            Turma: <select class="form-control" id="nometurma" name="turman" style="width:300px;">
            <option disabled selected>Selecione uma turma</option>
            </select>&nbsp&nbsp<br><br>

            <button type="button" name="consultar" id="btn-consultar"  class="btn btn-default">Consultar</button>

          </div>



          <div class="" style="position: relative; border-left:1px solid #DDD; margin-left:50px;
          float:left; height:100%; text-align: center;">
          <table class="table" style="width:750px; margin-left: 50px;">
            <thead class="thead-inverse">
              <tr>
                <th class="celulasCB"   >N° Chamada</th>
                <th class="celulasCB" >Matrículas</th>
                <th class="celulasCB" >Nomes dos Alunos</th>
                <th class="celulasCB" >Contatar</th>

              </tr>

            </thead>
            <tbody id="IzaMyLuv">

            </tbody>
            <p></p>
          </table>
        
         <input type="text" placeholder="Título" name = "textCont" id="textCont"><br>
        
        <textarea rows="10"  cols="50" name = "textAreas" id="textAreas"> </textarea> <br>
         <button type="submit" id="btAreas" value="Enviar" class="btn btn-primary" name="send" >Enviar 
        </button>

<!--<input id="btAreas" type="button" value="Enviar" class="btn btn-primary"> -->
        </div>

      </div>


    </div>
  </main>
</body>
<script type="text/javascript" src="/assets/js/consturma.js"></script>

<script>

// Default Open
var slideout = new Slideout({
'panel': document.getElementById('panel'),
'menu': document.getElementById('sid'),
'padding': 270,
'tolerance': 70,
'easing': 'cubic-bezier(.51,2,.81,.41)',
});
slideout.open();

// Toggle button
$(".toggle-button").click(function() {
// alert("oila");
slideout.toggle();
});




$(document).ready(function() {

$(window).resize(function(){
    if ($(window).width() <= 1024){
        // slideout.close();
        // slideout.close();
        slideout.close();

    }else {
        slideout.open();
    }
});
});



</script>

<% include ../partes/modal %>
<% include ../partes/modalPriv %>
</html>
