<html lang="pt">
<head>
  <% include ../partes/head %>
  <script>

    </script>

    <link rel="stylesheet" type="text/css" href="/assets/stylesheets/cadquest.css">
      <link rel="stylesheet" type="text/css" href="/assets/stylesheets/consQuest.css">
</head>
<body id="Cdq">

<div class="all">


<div class=" col-xs-2 col-sm-2 col-md-2 col-lg-2 fixed">
<% include ../partes/sidemenu.ejs %>
</div>

</div>

<main id="panel" class="allPage consquestPage">
<div class="layout" id="consQuestContent">
  <div class="backTopper correctCadQuest">
  </div>
  <% include ../partes/topmenu.ejs %>

  <div class="container-fluid " >
      <span id="pgName"> Consultar
        <span id="traco"> > </span>
        <span id="pgAtual">Questões </span>
      </span>

      <!-- BOTAO PARA CELULAR -->
      <button class="toggle-button no-border" data-toggle="button" >
          <img id="hbmenu" src="/assets/images/menu.png">
      </button>
      <!-- ***************** -->

          <div class="backPages ">

            <div id="consQuestCT" class="content layoutInner">
              <H1>Consulta de questões</H1>
              <div class="" style="float: left; position: relative;" id="divFiltrosConsQuest">
  <br>
              <form class="form-inline " method="get" name="consultaQuestForm">

                <select class="form-control " id="autor"  style="">
                  <option  selected>Autor</option>
                </select>

                <select class="form-control " id="disciplina"  style="">
                  <option  selected>Disciplina</option>
                </select>

                <select class="form-control " id="materia"  style="">
                  <option  selected>Matéria</option>
                </select>

                <select class="form-control " name="serie" id="serie" style="">
                  <option selected >Série</option>
                  <option>1º ano</option>
                  <option>2º ano</option>
                  <option>3º ano</option>
                </select>

                <input class="form-control " type="text" name="creation" id="creation" value="" placeholder="Ano de criação" style= "">

                <select class="form-control " name="tipo" id="tipo"  style="">
                  <option selected >Tipo</option>
                  <option>Discursiva</option>
                  <option>Objetiva</option>
                </select>

                <select class="form-control " name="nivel" id="nivel" style="">
                  <option selected >Nível</option>
                  <option>Basica</option>
                  <option>Média</option>
                  <option>Avançada</option>
                </select>

                <input type="hidden" id="userMat" value="<%=userMat%>">

                <input type="button"  name="btn-consultar" id="btn-consultar"  class="btn btn-default" value="Consultar"> 


              </form>
            </div>



              <div class="" style="position: relative;text-align: center;" id="divTabelaConsQuest">
                <br>
                <table  class="table table-bordered order-column hover table-responsive "  cellspacing="0" id="tabelaUnica" style="">
                  <thead class="thead-inverse">
                    <tr>
                      <th style="align:left; text-align:left; width:10%;">Codigo</th>
                      <th style="align:left; text-align:left;">Enunciado</th>
                      <th style="align:left; text-align:center;">Gabarito</th>
                      <th id="btadd" style="align:left; width:10% text-align:center;"></th>
                    </tr>
                  </thead>
                  <tbody id="tableQuestoes">
                  </tbody>
                </table>
                <span id="Message404" style="text-align:center; width: 750px; margin-left: 50px;"></span>

              </div>


            </div>




        </div>
</div>

    </main>
    <script type="text/javascript" src="/assets/js/consquest.js"></script>
    <script type="text/javascript" src="/assets/js/menu.js"></script>

<% include ../partes/modal %>
<% include ../partes/modalPriv %>

</body>

</html>
