<!doctype html>
<html>
<head>
    <% include ../partes/head %>
<link rel="stylesheet" type="text/css" href="/assets/stylesheets/cadquest.css">
<link rel="stylesheet" type="text/css" href="/assets/stylesheets/consprova.css">

</head>
<body id="Cdq"  >
<div class="all">
  <div class=" col-xs-2 col-sm-2 col-md-2 col-lg-2 fixed">
  <% include ../partes/sidemenu.ejs %>
  </div>

</div>

<main id="panel" class="allPage cadquestPage">
   <div id="cadQuestContent" class="layout">
<div class="backTopper correctConsProva">
</div>
<% include ../partes/topmenu.ejs %>

<div class="container-fluid " >
    <span id="pgName"> Neutron
      <span id="traco"> > </span>
      <span id="pgAtual">Início </span>
    </span>


    <!-- BOTAO PARA CELULAR -->
    <button class="toggle-button no-border" data-toggle="button" >
        <img id="hbmenu" src="/assets/images/menu.png">
    </button>
        <div class="backPages">

          <!-- formulario para consulta de prova  -->
          <div class="content layoutInner " id="consultaProvaCT">
            <H3>Consulta de Provas</H3>
            <br>
              <form class="form-inline"  method="post" action="" name="cadastroProvas">

                <select class="form-control form-group " id="autor" name = "autor" >
                  <option disabled selected value="">Autor</option>
                </select> &nbsp&nbsp

                <select class="form-control form-group" id="disciplina">
                  <option disabled selected value="">Disciplina</option>

                </select>&nbsp&nbsp

                <select class="form-control" id="serie" >
                  <option disabled selected value="">Série</option>
                  <option>1º an</option>
                  <option>2º an</option>
                  <option>3º an</option>
                </select>&nbsp&nbsp

                <select class="form-control" id="tipo" >
                  <option disabled selected value="">Tipo</option>
                  <option>Prova</option>
                  <option>Teste</option>
                  <option>Segunda chamada</option>
                </select>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp

                <button type="button" id="consultarProva" class="btn btn-default" style="position:relative; align:center;">Consultar</button><br><br>

              </form>

                  <hr  id="barConsProva" style="">

            <!-- tabela onde as provas seram inseridas  -->
            <div class="" style="position: relative; float:left; height:100%; text-align: left;">
              <table class="table" cellspacing="0" id="tableProvasSelecionadas">
                <thead class="thead-inverse">
                  <tr>
                    <th class="celulasCB">Nome da Prova</th>
                    <th class="celulasCB">Código</th>
                    <th class="celulasCB" style="align:left; text-align:left;">Tipo</th>
                    <th class="celulasCB" style=" align:left; text-align:left;">Nível</th>
                    <th class="celulasCB" style=" align:center; text-align:center;"></th>
                  </tr>
                </thead>
                <tbody id="tbprova">
                </tbody >
              </table>
            </div>

          </div>

        </div>
</div>
</main>
    <script type="text/javascript" src="/assets/js/consprova.js"></script>

    <script type="text/javascript" src="/assets/js/menu.js"></script>
    <% include ../partes/modal %>
    <% include ../partes/modalPriv %>
    </body>

    </html>
