<html lang="pt">
<head>
  <link rel="stylesheet" type="text/css" href="/assets/stylesheets/cadquest.css">
  <link rel="stylesheet" type="text/css" href="/assets/stylesheets/diario.css">
  <!-- Cabeçalho  -->
  <% include ../partes/head %>
</head>
<body >
  <div class="all">
    <div class=" col-xs-2 col-sm-2 col-md-2 col-lg-2 fixed">
      <!-- Menu Lateral -->
      <% include ../partes/sidemenu.ejs %>
    </div>

  </div>
  <main id="panel" class="allPage cadquestPage ">
    <div id="cadQuestContent" class="layout">
      <div class="backTopper correctDiarioPresenca">
      </div>
      <!-- Menu superior -->
      <% include ../partes/topmenu.ejs %>

      <div class="container-fluid">
        <span id="pgName"> Neutron
          <span id="traco"> > </span>
          <span id="pgAtual">Presença </span>
        </span>

        <!-- BOTAO PARA CELULAR -->
        <button class="toggle-button no-border" data-toggle="button" >
          <img id="hbmenu" src="/assets/images/menu.png">
        </button>

        <div class="backPages">
          <div class="content layoutInner " id="diarioCT" >
            <H1>Diário de Presença</H1>

            <br>

            <form class="form-inline" name="cadastroDiario" id="formDiario" method="post">
              <input type="hidden" value= <%= userMat %> name="matriculaProf">
              <div id="divTurma" class='form-group'>
                Turma: <select class="form-control" id="numturma" name="turma" >                    <!-- Input para selecionar turmas -->
                  <option disabled selected value="">Turma</option>
                  <option id="btn-mostraturma" disabled></option>
                </select>&nbsp&nbsp
              </div>
              <div id="disc" class='form-group'>
                Disciplina: <select class="form-control" id="nomedisciplina" name="nomedisciplina" >    <!-- Input para selecionar disciplinas -->
                  <option disabled selected value="">Disciplina</option>
                  <option id="btn-mostradisc"></option>
                </select>&nbsp&nbsp
              </div>
              <div id="initAula" class='form-group'>
                <input placeholder='Às' type="text" name="timepicker" class="time_element form-control" style="width:200px;"   id="horaStart"/>  <!-- Input para hora da aula -->

              </div>
              <input type="button" value="Pesquisar" id="consultaDiarioTurma"   class="btn btn-default">    <!-- Botão para consultar turmas de acordo com os filtros oferecidos -->

              <div id="dadoos">
                <div id="data">
                  <button class="btn btn-primary" type="button" id="btDiaAnterior">                                 <!-- Volta um dia -->
                    <span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span>

                  </button>
                  <input class="form-control" type="text" id="txtSelectedDate" name="txtSelectedDate" disabled />   <!-- Mostra a data selecionada -->
                  <button class="btn btn-primary" type="button" id="btDiaPosterior">                                <!-- Avança um dia -->
                    <span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span>

                  </button>
                </div>

                <table class="table" name="tabletop" id="tabletop" style="">                                        <!-- Table onde será exibido os dados da pesquisa -->
                  <thead class="thead-inverse">
                    <tr>
                      <th class="celulasCB" style="width:10%" >#</th>
                      <th class="celulasCB" style="width:15%" >Matrícula</th>
                      <th class="celulasCB"  style="width:25%; text-align:center" >Nome</th>
                      <th class="celulasCB"  style="width:5%; text-align:center" >Presença</th>
                    </tr>
                  </thead>
                  <tbody id="tablebody">
                  </tbody>
                </table>
                <textarea rows="10" cols="50" id="textAreas" name="textAreas"> </textarea>                <!-- Área onde será inserido o comentário sobre a aula determinada -->
                <br>
                <input type='button' id="btAreas" type="button" value="Gravar" class="btn btn-primary">   <!-- Grava  a aula no BD -->
              </div>

            </form>

          </div>
        </div>
      </div>
    </div>
    <br><br>
  </main>
  <script type="text/javascript" src="/assets/js/menu.js"></script>
  <script type="text/javascript" src="/assets/js/diarioPresenca.js"></script>

  <% include ../partes/modal %>
  <% include ../partes/modalPriv %>
</body>

</html>
