<html lang="pt">
<head>
    <% include ../partes/head %>
    <link rel="stylesheet" type="text/css" href="/assets/stylesheets/index.css">


</head>

<body id="indBack">

   <!-- MENU LATERAL -->
    <div class="all">
      <div class=" col-xs-2 col-sm-2 col-md-2 col-lg-2 fixed">
        <% include ../partes/sidemenu.ejs %>
      </div>

    </div>
   <!-- FIM DO MENU LATERAL -->

    <main id="panel" class="allPage indall">
      <div id="indexContent">
        <div class="backTopper">
        </div>
        <!-- TOP BAR -->
        <% include ../partes/topmenu.ejs %>
        <!-- FIM TOP BAR -->

          <div class="container-fluid ">
            <span id="pgName"> Neutron 
              <span id="traco"> > </span>
              <span id="pgAtual">Início </span>
            </span>


            <!-- BOTAO PARA CELULAR -->
            <button class="toggle-button no-border" data-toggle="button">
              <img id="hbmenu" src="/assets/images/menu.png">
            </button>
            <!-- FIM DO BOTAO PARA CELULAR -->
            <div class="greyBG2"> <!-- PLANO DE FUNDO -->

              <div class="dashElements"><!-- BACK DOS ELEMENTOS -->
                <div>
                <!-- ANOTACOES  -->
                  <div class="bloco anotacoes">
                    <div class="blocoCnt">
                      <p><span>ANOTACOES</span></p>

                      <!--NOTAS DO PROFESSOR-->
                      <div class="content ">
                        <i class="fa fa-plus new-note" aria-hidden="true"></i>
                        <ul id="notes"> </ul>
                      </div>
                    </div>
                  </div>
                <!-- FIM DAS ANOTACOES  -->
               
                <!-- EVENTOS DO CALENDARIO  -->
                  <div class="bloco col-md-4 clndNext">
                    <div class="blocoCnt">
                      <p><span>Próximos Eventos</span>
                      </p>

                      <div class="eventos">
                      </div>

                      <a href="/calendario"> <i class="fa fa-calendar" aria-hidden="true"></i>
                      </a>

                    </div>
                  </div>
                <!-- FIM DOS EVENTOS DO CALENDARIO  -->

                  <div class="row">
                  <!--GRAFICO-->
                    <div class="bloco col-md-4 NotasBlc">
                      <div class="blocoCnt">
                        <p><span>Notas dos Alunos</span>
                        </p>
                        <br>
                        <div id="legendaGrafico">
                          <div class="blockNotaGrafico1 blockNotaGrafico"></div>
                          <span> Acima de 7</span>
                          <br>
                          <br>
                          <div class="blockNotaGrafico2 blockNotaGrafico"></div>
                          <span> Entre 5 e 7</span>
                          <br>
                          <br>
                          <div class="blockNotaGrafico3 blockNotaGrafico"></div>
                          <span> Abaixo de 5</span>
                        </div>
                        <canvas id="skills" width="300" height="300"></canvas>
                      </div>
                    </div>
                  <!--FIM GRAFICO-->
                 
                  <!--TURMAS DO PROFESSOR-->
                    <div class="bloco col-md-4 TurmasBlc">
                      <div class="blocoCnt">
                        <p><span>Minhas Turmas</span>
                        </p>
                        <br>
                        <div id="turma"></div>
                        <a href="/consultaTurma">
                          <br>
                          <i class="fa fa-users" aria-hidden="true"></i>
                        </a>
                        <br>
                        <br>
                      </div>
                    </div>
                  <!--FIM TURMAS DO PROFESSOR-->


                  </div>
                </div>

              </div>

            </div>
          </div>
      </div>
    </main>

    <script src="/assets/js/Chart.js"></script>
    <script type="text/javascript" src="/assets/js/index.js"></script>
    <script type="text/javascript" src="/assets/js/menu.js"></script>

    <% include ../partes/modal %>
    <% include ../partes/modalPriv %>

  </body>

</html>