<html lang="pt">
<head>
    <% include ../partes/head %>
       <meta charset="utf-8">
    <meta http-equiv="cleartype" content="on">
    <meta name="MobileOptimized" content="320">
    <meta name="HandheldFriendly" content="True">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
    <link rel="stylesheet" type="text/css" href="/assets/stylesheets/index.css">

 <style>

      /*.panel{left: 0;position: relative;float: left;}*/
    </style>
</head>
<body >

  <div class="all">
  <div class="layout">
                  </div>
  

            <div class=" col-xs-2 col-sm-2 col-md-2 col-lg-2 fixed">
                <% include ../partes/sidemenu.ejs %>
            </div>

</div>
  <main id="panel">
              <% include ../partes/topmenu.ejs %>
    
<div class="container-fluid" >

   <button class="toggle-button" data-toggle="button" >☰</button>
   
      <div class="bloco">
                    <p>Turmas</p>
                    <div id="turma"></div>
      </div>

  <div class="row">

      <div class="col-md-3 teste" >
      </div>


      <div class="bloco2" >
        <p>Eventos do Calendario</p>
        <div class="eventos" >                          
          <div id="evento" >                            
          </div>
        </div>

      </div>

  </div>
<canvas id="skills" width="300" height="300"></canvas>



        <div class="content col-xs-10 col-sm-10 col-md-10 col-lg-10 ">
          <div id="controls">
            <img id="btnNew" src="/assets/images/newnote.png"/>
            <img id="btnSave" src="/assets/images/save.png"/>
          </div>
        <ul id="notes">

        </ul>
        <input type="button" value="tc" id="tc">


          </div>





        <div class="footer">
          <footer>
              <% include ../partes/footer %>
          </footer>
        </div>

  </main>

      

    <script src="/assets/js/Chart.js"></script>

<script>
var ctx = document.getElementById('skills').getContext('2d');
  console.log("sadasdasdasdasd");
      notas_alunos();
    function notas_alunos() {

      $.ajax({
          url:"/notas",
          type:"POST",
          dataType:"json",
          contentType: "application/json",
          data:{

          },
           cache:false,
           timeout:5000,
           complete: function(){},
           success: function(data){
            if (data) {
              var datal = data.length;

              var mrSete=[];
              var mrCinco=[];
              var mrZero=[];


              for (var i = 0, len = datal; i < len; i++) {

                if(data[i]>=7)
                {
                  mrSete.push([data[i]]);
                }

                else if(data[i] <7 && data[i]<=5)
                {
                  mrCinco.push([data[i]]);
                }
                else
                {
                  mrZero.push([data[i]]);
                }

              }

              var total = datal;
              var seteper = parseFloat((mrSete.length*100)/total);
              var cincoper = parseFloat((mrCinco.length*100)/total);
              var zeroper = parseFloat((mrZero.length*100)/total);
              var pieData = [
                 {

                    value: seteper,
                    label: 'Notas maiores que 7',
                    color: '#000000'
                 },
                 {
                    value: cincoper,
                    label: 'Notas entre 5-7',
                    color: '#FFFFFF'
                 },
                 {
                    value: zeroper,
                    label: 'Notas menores que 5',
                    color: '#D18177'
                 }
              ];

              var context = document.getElementById('skills').getContext('2d');
var skillsChart = new Chart(context).Pie(pieData);

             }

          },
          error: function(err,xtr,status){ console.log(status)},
      });


    }





// var skillsChart = new Chart(context).Pie(pieData);
</script>
<!-- SCRIPTS JS/JQUERY -->
<script type="text/javascript" src="/assets/js/index.js"></script>
 <script src="/assets/js/test.js"></script>
 <script>

// Default Open
var slideout = new Slideout({
  'panel': document.getElementById('panel'),
  'menu': document.getElementById('sid'),
  'padding': 230,
  'tolerance': 70,
  'easing': 'cubic-bezier(.51,2,.81,.41)',
});
 slideout.open();

      // Toggle button
  $(".toggle-button").click(function() {
    // alert("oila");
     slideout.toggle();
  });




  $(document).ready(function() {

  $(window).resize(function(){
  if ($(window).width() <= 1024){  
  // slideout.close();
    // slideout.close();
    slideout.close();

  }else {
    slideout.open();
  } 
  });
});



    </script>
                    <% include ../partes/modal %>
                <% include ../partes/modalPriv %>

</body>

</html>
