 <!DOCTYPE html>
<html>
  <head>
    <% include ../partes/head %>

    <style >
            body 
                {
                  /*background-color:#56AEDA;*/
                  overflow: hidden ;
                    /*background-attachment: fixed;*/
                    /*background-position: center;*/
 /**/
 background: transparent;
                }
            main 
                { 
                  /*z-index: 15;*/
                  margin: 10% 0 0 0px;

                }

            .all    
                {
                display: block;
                margin: 0 auto;
                  width: 800px;
                height:500px;

                  /*-webkit-box-shadow: 0px 10px 78px 13px rgba(0,0,0,0.23);*/
                  /*-moz-box-shadow: 0px 10px 78px 13px rgba(0,0,0,0.23);*/
                  box-shadow: 0px 10px 78px 13px rgba(0,0,0,0.23);

                }
            #formLog
                { 
                  margin-left: 35px;  
                }
        #tudoLogin{
            display : block;
            width:100vw;

            height:100vw;
        }
        #bckbgFundo{
            background-color: #3d464d;
              position: fixed;
          width: 100%;
          height: 100vw;
          z-index: 2;
              opacity: 0.4;
    filter: alpha(opacity=40);
        }
        #bckbg{

          position: fixed;
          width: 100%;
          height: 100vw;
          top: 0;
          filter: blur(2px);
          background-image: url("/assets/images/rjbg4.jpg");
          background-position: center;
          background-repeat: no-repeat;
          background-attachment: fixed;
          background-size: cover;
          display: block;
          left: 0;
          right: 0;
          z-index: 1;

        }
   </style>

  </head>

  <body>

                <div id="bckbg">            </div>
                <div id="bckbgFundo">                </div>
    
    <main>

        <div class="container " class="cd-index cd-main-content" id="tudoLogin" >
            <div class="col-sm-12 " >

                <div class="all"  >

                    <div class="contlog">

<div class="loginSData">
</div>
                          <!-- MESSAGEM DE LOGIN -->
                            <% if (message.length > 0) { %>
                                <div class="alert alert-info" style="text-align: center;"><%= message %></div>
                            <% } %>

                        <!-- LOGIN FORM -->
                        <div id="RightForm">
                          <form action="/" method="post" id="formLog" name="formLog" >
                          <label>Coloque seus dados </label>
                            <div class="form-group row" id="matr">
                                <input type="text" class="form-control txtBox"  name="matricula" id="matricula"  placeholder=" Matrícula" required="required" autofocus/>
                            </div>


                            <div class="form-group row" id="senha">
                                <input type="password" class="form-control txtBox"  name="senha" placeholder="Senha"    required="required"/>
                            </div>

                            <br>

                            <div class="form-group">
                                 <button type="submit"   id="bt1" class="btn btn-primary form-control ">Entrar</button>
                             </div>

                            <div  id="createUser">
                            <button id="bt2" class="btn "><a href="/cadastro" id="cadlink"  >cadastre-se</a> </button>
                                 

                             </div>

                         </form>


                    
                        </div>


                        <hr>

                    </div>

               </div>
            </div>

        </div>
    </main>



  <script >
    $(function(){
      var campo= "#matricula";
        onlyNumber(campo);
    });

  </script>

  </body>
</html>
