 <!DOCTYPE html>
<html>
  <head>
    <% include ../partes/head %>

    <style >
            body 
                {
                  background-color:#56AEDA;
                }
            main 
                { 
                  z-index: 15;
                  margin: 5% 0 0 0px;
                }

            .all    
                {
                display: block;
                margin: 0 auto;
                  width: 800px;
                height:500px;
                  border-radius: 8px;
                  -webkit-box-shadow: 0px 10px 78px 13px rgba(0,0,0,0.23);
                  -moz-box-shadow: 0px 10px 78px 13px rgba(0,0,0,0.23);
                  box-shadow: 0px 10px 78px 13px rgba(0,0,0,0.23);

                }
            #formLog
                { 
                  margin-left: 35px;  
                }
        #tudoLogin{
            display : block;
            width:100vw;
            height:100vw;
        }
   </style>

  </head>

  <body>

    <main>
        <div class="container" class="cd-index cd-main-content" id="tudoLogin" >

            <div class="col-sm-12 ">
                <div class="all"  style="background-color:#FEFEFE">
                    <div class="contlog">

                          <div class="loginLogo">
                            <img alt="CP@2" class="prpLogo" src="http://3.bp.blogspot.com/-Vu_Eh3wGFFQ/VZExgiSzgrI/AAAAAAAACVw/kArVYwT5p6M/s1600/logo_cp2.png" >
                          </div>

                          <!-- MESSAGEM DE LOGIN -->
                            <% if (message.length > 0) { %>
                                <div class="alert alert-info" style="text-align: center;"><%= message %></div>
                            <% } %>

                        <!-- LOGIN FORM -->
                        <div id="RightForm">
                          <form action="/" method="post" id="formLog" name="formLog" >
                            <div class="form-group row">
                                <input type="text" class="form-control txtBox"  name="matricula" id="matricula"  placeholder="Matrícula" required="required" autofocus/>
                            </div>

                            <br>

                            <div class="form-group row">
                                <input type="password" class="form-control txtBox"  name="senha" placeholder="Senha"    required="required"/>
                            </div>

                            <br>

                            <div class="form-group">
                                 <button type="submit"   id="bt1" class="btn btn-primary form-control ">Entrar</button>
                             </div>

                         </form>

                         <br>

                         <div class="form-group " data-animsition-overlay="true">
                              <a href="/cadastro" id="cadlink"  >Ainda não é cadastrado? cadastre-se</a>
                         </div>
                        </div>


                        <hr>
                    </div>
               </div>
            </div>

        </div>
    </main>



  <script >
    $(function(){
      var campo= "#matricula";
        onlyNumber(campo);
    });

  </script>

  </body>
</html>
