.cadProvaPage{
	margin-left: -45px!important;
}
#tableSelecionadas{
	width:750px;

}
#contfluids > span {padding-left: 110px;}
#div2{
	position: absolute; 
	border-left:1px solid #DDD;
	right: 20px;
	top: 190px;
	height:100%;
	text-align: center;
}

.correctCadProva{
	margin-left: -150px;
}

@media screen and (max-width: 1600px){
	#div2 td {
		width: 50px!important;
	}
}

