.cadProvaPage{
	margin-left: -45px!important;
}
#tableSelecionadas{
	width:750px;

}

#contfluids > span {padding-left: 110px;}
#div2{
	position: absolute;
	/*border-left:1px solid #DDD;*/
	right: 70px;
	top: 160px;
	height:100%;
	text-align: center;
}
.correctCadProva{
	margin-left: -150px;
}
#tableQuestCandidatas{
	width: 680px;
}
#hrCadProva{
	border: 0.3px solid #DDD;
 	width:680px;
 	margin-left:0px;
}
#tableCandidatas_filter > label{
	position: absolute!important;
	right:18px;
	top: -75px;
}
.pagination{

	width: 83%;
	background-color:transparent;
	position: absolute;
	right: -205px;
	top: -30px;
}
	#disciplina, #serie, #tipo, #nomeP, #materia{
	width:330px;
	}
		.btn-removes{
		/*font-size: 1.3rem;*/
		width: 80px!important;
	}
@media screen and (max-width: 1680px){
	#disciplina, #serie, #tipo, #nomeP,#materia{
		width: 250px;
	}
	#materia{
		position: absolute;
	}
	#hrCadProva{
		width: 525px;
	}
	#tableCandidatas{
		width: 510px!important;
	}
	.pagination{
		right:-35px;
	}
	#tableCandidatas_filter > label{
	right: 124px!important;
	top: -75px;
	}
	#tableSelecionadas{width: 500px;}
	#div2{right: 180px;}

}
@media screen and (max-width: 1440px){
	#cadprovaCT{
	margin-left: -100px!important;

	}
}
@media screen and (max-width: 1366px){
	#disciplina, #serie, #tipo, #nomeP,#materia{
		width: 225px;
	}
	#hrCadProva{
		width: 500px;
	}
	#tableCandidatas{
		width: 470px!important;
	}
	#tableQuestCandidatas{
		width: 640px!important;
	}
	.pagination{
	right: -20px!important;
	}
	#div2{right: 160px;}

	#cadprovaCT{
		margin-left: -10px!important;
	}

}
@media screen and (max-width: 1024px){
	.correctCadProva{
		margin-left: -05px!important;
	}
	#cadprovaCT{
		margin-left: 300px!important;
	}
	#hrCadProva{
		width: 465px!important;
	}
		#tableCandidatas{
		width: 465px!important;
	}
	#tableQuestCandidatas{
		width: 620px!important;
	}
	#div2{right: 295px;top: 800px!important;}
	#tableSelecionadas{width: 465px!important;}

}
@media screen and (max-width: 768px){
		#cadprovaCT{
		margin-left: 175px!important;
	}
	#cadprovaCT > h3{
		margin-left: 30px;
	}
	#div2{right: 160px;}

}
@media screen and (max-width: 414px){
		#cadprovaCT{
			margin-left: 135px!important;
		}
		#cadprovaCT > h3{

			margin-left: -55px!important;
		}
		#hrCadProva{
			margin-left: -05px;
			width: 235px!important;
		}
		#tableCandidatas{
			width: 300px!important;
			margin-left: -70px;
		}
			#tableQuestCandidatas{
				position: absolute;
		width: 300px!important;
		top: 650px;
	}
	.btn-pass{
		font-size: 1.3rem;
		width: 80px!important;
	}

	#div2{
		top: 1100px!important;
		right: 105px!important;
	}
		.btn-removes{
		width: 65px!important;
		font-size: 1rem;
	}
	#tableSelecionadas,#div2{
		width: 300px!important;
	}
	#div2 >label, #cadastrar{
		margin-left: 100px;
	}

		.pagination{
			top: -45px;
	right: -135px!important;
	}
	#tableCandidatas_filter > label{
		top: -80px!important;
		right: 90px!important;
		width: 225px;
	}

}
@media screen and (max-width: 412px){
	#div2{
		right: 150px!important;
		width: 250px!important;
	}
	#tableSelecionadas{width: 250px!important;}
#tableSelecionadas tr{width: 20px!important;}
	.btn-removes{font-size: 0rem;
	width: 10px!important;height: 10px!important;}
}
@media screen and (max-width: 375px){
		#cadprovaCT > h3{
			margin-left: -60px!important;
		}
		#cadprovaCT{
			margin-left: 115px!important;
		}
		#tableCandidatas{
		margin-left: -72px!important;
		}

		.btn-removes{
		width: 60px!important;
		font-size: 1rem;
		height: 25px!important;
	}
	#tableSelecionadas{
		font-size: 1.1rem;
		width: 200px!important;

	}
	#div2{right: 115px!important;}

}
@media screen and (max-width: 360px){
		#cadprovaCT{
			margin-left: 107px!important;
		}
		#cadprovaCT > h3{
			margin-left: -57px!important;
		}
		.btn-pass{
		font-size: 1.1rem;
		width: 70px!important;
		}
		#tableCandidatas{
		margin-left: -67px!important;
		}
		.pagination{
			right: -130px!important;
		}
}
