.layoutInner{
  margin-top: 110px;
}
.backPages{
  color: #3d464d;
  width:90vw!important;
  height:60vh;
  background-color: #f6f8fa;
}
.container-fluid{
  background-color: #f6f8fa!important;
}
.cadquestPage{
  margin-left: 65px!important;
}
.layout{

  position: absolute;
  display: block;
  width: 85vw;
  left: 170px;
  padding-left:60px;


}
.layoutInner > h3 {
  color: #3d464d;
  font-size: 4rem;
  padding-bottom: 15px;
  font-family: 'Montserrat', sans-serif;
}
#lvlQuest{
  margin-left:-80px;
}
.alert-CadQuest{
    width: 65vh;
}
