 body
{
    font-family: Roboto, Arial, Tahoma, Sans-serif;

    background-color: #56aeda!important;
}
main
{
    z-index: 15;

    margin: 5% 0 0 0;
}
.all
{
    border-radius: 2px;
    -webkit-box-shadow: 0 10px 78px 13px rgba(0, 0, 0, .23);
       -moz-box-shadow: 0 10px 78px 13px rgba(0, 0, 0, .23);
            box-shadow: 0 10px 78px 13px rgba(0, 0, 0, .23);
}


.inputfile
{
    position: absolute;
    z-index: -1;

    overflow: hidden;

    width: .1px;
    height: .1px;

    opacity: 0;
}
.inputfile + label
{
    color: #f1e5e6;
    background-color: #44bd33;
}
.inputfile + label
{
    font-size: 1.25em;
    font-weight: 700;

    display: inline-block;

    width: 220px;

    text-align: center;

    color: white;
    background-color: #44bd33;
}
.inputfile:focus + label,
.inputfile + label:hover
{
    background-color: #2f8423;
}
.inputfile + label
{
    cursor: pointer;
    /* "hand" cursor */
}
.dados_preCad
{
    font-size: 1.1em;
    font-weight: 600;

    margin-left: -10px!important;

    text-align: center;
    text-transform: uppercase;
}
.dados_preCad > label
{
    font-weight: 600;
}
.highlight
{
    padding: 0 0 150px;

    text-align: center;

    color: #000;
    background-size: cover;
}
.highlight h1
{
    font-family: 'Varela Round', sans-serif;
    font-size: 3.5rem;
    font-weight: 700;
}
#uploadForm
{
    display: block;

    height: 650px;
    padding: 50px;

    background-color: white;
}
.newDatas
{
    margin-top: -10%;
    margin-left: 39%;
}
#dropTarget
{
    width: 220px;
    height: 250px;

    border: 1px #ccc solid;
}
.dados_preCad
{
    margin-left: 40%;
}
.top1
{
    position: absolute;
    z-index: -999;

    display: block;

    width: 100%;
    height: 200px;

    background-color: #2c405c;
}
@media  screen and (max-width: 1024px)
{
    .newDatas
    {
        margin-left: 37%;
    }
}
@media  screen and (max-width: 768px)
{
    .newDatas
    {
        margin-left: 33%;
    }
}
@media  screen and (max-width: 414px)
{
    .newDatas
    {
        margin-top: -100px;
        margin-left: 17%;
    }
}
@media  screen and (max-width: 375px)
{
    .newDatas
    {
        margin-left: 13%;
    }
}
@media  screen and (max-width: 320px)
{
    .newDatas
    {
        margin-left: 0%;
    }
}



