#botaoRemoverConsQ{
  width: 100px;
}

#divTabelaConsQuest{
   border-left:1px solid #DDD;
   margin-left:10px;
   padding-left: 25px;
   float:left;
   height:100%;
   text-align: left;
}

#divFiltrosConsQuest{
  width: 635px;
}

div#divFiltrosConsQuest .form-control{
  margin-bottom: 15px;
  margin-right: 15px;
  width: 300px;
  float: left;
}

.pagination{
  width: 121px;
}

#tabelaUnica{
  width: 750px;
}
.correctCadQuest{
  margin-left: -150px;
}
.consquestPage{
  margin-left: 65px!important;
}
@media screen and (max-width: 1024px){
  .consquestPage{
    margin-left: 00px!important;
  }

.backPages{
  margin-left: -260px;
}
#consQuestCT{
  margin-left: 165px;
}


}