 .eventos{
      overflow-y: auto;
      overflow-x: hidden; 
      text-align: left;
      text-justify: inter-word; 
      height: 90%;
    }

    .evento{
      /*box-sizing: 10px;*/
      padding: 1px;
      word-break: break-all;
    }

    #evento{
      width: 100%;
    }
