/*.eventos{
    overflow-y: auto;
    overflow-x: hidden;
    text-align: left;
    text-justify: inter-word;
    height: 90%;
}
.evento{
    !*box-sizing: 10px;*!
    padding: 1px;
    word-break: break-all;
}greyBG2
#evento{
    width: 100%;
}*/

.evento{
    color:#3d464d;
}
#indexContent{

    position: absolute;
    /*right:0;*/
    display: block;
    width:85vw;
    left:170px;
    /*@TODO: os paddings estao dando erro nas resolucoes pra celular*/
    padding-left:30px;
    padding-right:30px;

}

#indBack{
    background-color: #fff!important;
    overflow-x: hidden;
    /*TODO: por overflow dps*/
}

.greyBG{
    display: block;
    width:85vw;
    /*height:100vw;*/
    /*bottom: 0;*/
    /*top:0;*/
    margin-left:-200px;
}
.dashElements{
    /*margin-top:100px;*/
    color: white;
        /*background-color: black!important;*/

    background-color: #f6f8fa;
    /*#f6f8fa*/
    position: absolute;
    width:90vw;
    height:46vw;
    margin-top:64px;
    margin-left:-120px;
    padding-top:50px;
}
.bloco{
    background-color:#fff;
    border:2px solid #e2e2e2;
    padding:30px;
    display: block;
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    border-radius:5px;
    display: block;
}

/*Titulo dos Blocos*/
.blocoCnt >p {
    background-color:#f6f8fa;
    color: #3d464d;
}
.blocoCnt >p>span {
    margin-left:30px;
}
.eventos{
    padding-top:30px;
}
.evento{
    margin-left:35px;
    /*display: block;*/
    /*height:5%;*/
    margin-top:-18px;

}
.evento >p{

    font-size:1.5rem;

}
.evento > p > span{
    color: #19cfa2;
    padding-right:15px;
}

.descEvt > p{
    font-size: 1.5rem;
    margin-left:60px;
    color:#00a2ff;
    padding-bottom:0px;
}
.blocoCnt .fa-calendar  {
    color: #ff3f57;
    /*color:#00a2ff;*/

    /*color: #19cfa2;*/
    cursor: pointer;

    font-size:2.5rem;
    position: absolute;
    right:60px;
    bottom:50px;
}
.fa-users{
    color: #ff3f57;
    font-size: 2.5rem;
    cursor: pointer;
    position: absolute;
    right: 40px;
    bottom:30px;
    padding-bottom: 20px;
}

.fa-users:hover{
    color: #ff0074;
}

.new-note{
    position: absolute;
    color:#ff3f57;
    bottom: 40px;
    right: 30px;
    cursor: pointer;
    font-size:  2.5rem!important;
}
.new-note:hover{
    color: #ff0074;
}
.blocoCnt .fa-calendar:hover {
    color:#ff0074;
}
.clndNext{
    position: absolute;
    display: block;
    right:45px;
    height: 775px;
}
.anotacoes{
    display: block;
    position: absolute;
    left:30px;
    height:320px;
    width:1070px;
}
.TurmasBlc{
    position: absolute;
    top:400px;
    right: 630px;
    width: 400px;
    height: 425px;
}
#turma{
    color: #3d464d;
    padding-left: 10px;
    font-weight: 700;

}

.NotasBlc{
    position: absolute;
    left:30px;
    top:400px;

}
/*NOTAS */
 ul li div.colour1 {
     background: #00adce;
 }
 ul li div.colour2 {
     background: #ff3f57;
 }
 ul li div.colour3 {
          background: #ffc;
}
 ul li div.colour4 {
          background: #c36cf2;
}

.blockNotaGrafico{
    /*background-color: red;*/
    width: 15px;
    height: 15px;
    float: left;
    display: block;
    margin-top: 3px;
    /*margin-left: -50px;*/
}

.blockNotaGrafico1{
    background-color: #00a2ff;
}
.blockNotaGrafico3{
    background-color: #ff3f57;
}
.blockNotaGrafico2{
    background-color: #19cfa2;
}
.blockNotaGrafico + span {
    padding-left: 15px;
    color: black;
    margin-top: 100px!important;
}
#legendaGrafico{
    position: absolute;
    top: 80px;
    right: 35px;
}