

/*NOTAS ABAIXO--------------------------------------------------------------------------------------------------------------------------------------------------------------*/



.hide {
	display: none;
}


/******************************
 *      C O N T R O L E S       *
 ******************************/
#controls img {
	width: 28px;
	height: 30px;
	background: rgba(0, 0, 0, 0);
}

#controls img:hover, #controls img:focus {
	-webkit-transform: scale(1.2);
  	-moz-transform: scale(1.2);
  	-o-transform: scale(1.2);
  	position:relative;
}

/************************
 *      N O T A S       *
 ************************/
ul#notes , li#notes {
	list-style: none;
}

ul#notes {
	overflow: hidden;
	padding: 15px;
}

ul#notes li {
	margin: 15px;
	float: left;
	position: relative;
}

ul li div {
	text-decoration: none;
	color: #000;
	background: #ffc;
	display: block;
	height: 150px;
	width: 150px;
	padding: 10px;

	-moz-transition: -moz-transform .15s linear;
	-o-transition: -o-transform .15s linear;
	-webkit-transition: -webkit-transform .15s linear;
	border-style: hidden;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}

ul li div img {
	padding: 1px 3px;
	margin: 10px;
	position: absolute;
	top: 0;
	right: 0;
}

ul li textarea {
	font-family: 'Roboto', arial, sans-serif;
	background: rgba(0, 0, 0, 0); /* transparent background */
	resize: none;
	padding: 3px;
	border-style: none;
}


.note-content {
	font-size:120%;
	height: 100px;
	width: 95%;

	border: none;
	overflow: auto;
	outline: none;

	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}
ul#notes li div:hover ,  ul#notes li div:focus {

	-webkit-transform: scale(1.1);
	-moz-transform: scale(1.1);
	-o-transform: scale(1.1);
	position:relative;
	z-index:5;


}

.close-notes{
	position: absolute;
	right:10px;
	top:10px;
	z-index:-999;
}
ul#notes li div:hover,  ul#notes li div:focus .close-notes{

}
/*
ul li:nth-child(even) div {
  -o-transform:rotate(4deg);
  -webkit-transform:rotate(4deg);
  -moz-transform:rotate(4deg);
  position:relative;
  top:5px;
}

ul li:nth-child(3n) div {
  -o-transform:rotate(-3deg);
  -webkit-transform:rotate(-3deg);
  -moz-transform:rotate(-3deg);
  position:relative;
  top:-5px;
}

ul li:nth-child(5n) div {
  -o-transform:rotate(5deg);
  -webkit-transform:rotate(5deg);
  -moz-transform:rotate(5deg);
  position:relative;
  top:-10px;
}

ul#notes li div:hover, ul#notes li div:focus {
  -moz-box-shadow:10px 10px 7px rgba(0,0,0,.7);
  -webkit-box-shadow: 10px 10px 7px rgba(0,0,0,.7);
  box-shadow:10px 10px 7px rgba(0,0,0,.7);
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -o-transform: scale(1.1);
  position:relative;
  z-index:5;
}

*/