/*
==================================================================
=== Media_Queries ================================================
==================================================================
*/

@media screen and (max-width: 1367px) {
    #sid{
        width: 260px;
        /*z-index: -1;*/
    }
    /*MODAL DE PRIVACIDADE*/



}
@media only screen and (max-width: 1367px) {
    .modal-header + #TituloPriv {
        /*margin-left:200px;*/
    }
    .priv > .modal-body {
        margin-left:130px;
    }
}

@media screen and (min-width: 1030px) {
  #panel{
    left: -12%;
  }
  #sid{
    z-index: 999;
  }
    .priv > .modal-body{
        /*margin-left:-20px!important;*/

    }

}
@media screen and (max-width: 1030px) {
    .priv > .modal-body{
        margin-left:20%;

    }
}

@media screen and (max-width: 990px)
{
    .priv input {
        width:75%;
    }
    .modal-header + #TituloPriv {
        margin-left:30%;
    }
    #dropTarget
  {
    border:2px solid black!important;
  }
  .perfilContent
  {
    width: 100%!important;
  }
  #PerfilDados input, #PerfilDados p
  {
      width: 30%;

  }
  #RightPart >h1
  {
      font-size:2.5rem;
      margin-left:5px;
      padding-bottom:5px;

  }
  #Atualizar
  {
      margin-top:-10px;
      margin-left: 130px;
  }


}
@media  screen and (max-width: 768px ) {
    #r2{
        padding-top:60px!important;
    }
    #Atualizar {
        margin-left:118px;
    }
    .msg{
        width:260px;
    }
    /*PAGINA DE LOGINHO*/
    .allLG{
        width:600px;
    }
    .loginSData{
        width:340px;
    }
    #RightForm{
        width:260px;
    }
    .txtBox{
        width:220px!important;
    }
    #bt1{
        width:220px!important;
        height:40px!important;
    }
    #bt2{
        margin-left: 60px;

    }
    .loginSData p{
        font-size:1.4rem;
    }
    #loginAlert{
        margin-left:0;
    }
}

@media  screen and (max-width: 765px ) {
    #PerfilDados input, #PerfilDados p {
        width: 100%;

    }

    #RightPart {
        margin-left:350px!important;
    }

}

@media  screen and (max-width: 586px ) {
    .modal-header + #TituloPriv {
        margin-left:22%;
    }
    .perfilContent { /*CONTAINER */
        height: 120%;
        background-color: #F4F4F5 !important;
    }

    #leftPart { /*PARTE COM A FOTO DO USUARIO*/
        /*width:100%;*/
        background: none;
        margin-left: 70px !important;
    }

    #RightPart { /*PARTE COM OS DADOS DO USUARIO*/
        color: #3d464d;
        margin-left: 50px !important;
        /*border-top: 3px solid black;*/
        margin-top: 360px;
    }

    #dropTarget { /*IMAGEM DO PERFIL*/
        width: 210px;
        height: 210px;
    }

    .edpencil { /*LAPIS PRA EDITAR*/
        /*float: right;*/
        /*margin-right: 40px!important;*/
    }

    #tituloPerfil { /*MENSAGEM DO TOPO*/
        color: #3d464d;
        position: absolute;
        margin-left: 27px !important;
        margin-top: -340px !important;

        /*top:0!important;*/
    }

    .inputfile + label { /*BOTAO DE ATUALIZAR FOTO*/
        width: 210px;
        margin-top: 10px;
    }

    #ModalConteudo .modal-header > .close { /*BOTAO DE FECHAR SUPERIOR*/
        color: #3d464d;
    }

    #PerfilDados p, #PerfilDados input { /*INPUTS DE TEXTO E OS P'aragrafos'*/
        width: 270px !important;
    }

    #RightPart #Atualizar { /*BOTAO DE ATUALIZAR DADOS*/
        clear:both;
        position: relative;
        /*float: right;*/
        margin-right: -400px!important;
        /*margin-right: 50px;*/


        /*position: absolute!important;*/
        /*margin-right:-40!important;*/
    }
}
@media screen and (max-width: 425px){
/*PAGINA DE LOGINHO*/
    .loginSData{
        display: none;
    }
    #RightForm{
        margin-left: 0px;
        float: left;
        width:60%;
        border-radius: 10px;

    }
    #createUser{
        border-bottom-left-radius: 10px;

    }
    #bckbg{
        margin-top:00px;
        /*background-position: 100%;*/
        height:100%!important;
    }
    .txtBox{
        margin-left:10px;
        width:300px!important;
    }
    #bt1{
        margin-left:-5px;
        width:300px!important;
    }
    #formLog > label{
        margin-left:0px;
    }
    #bt2{
        margin-left:120px;
    }
    #loginAlert {
        margin-left:50px;
    }
    #RightForm > #RFTitle{
        display: flex;
        color:#42B7E6;
        margin-top:50px;
        margin-left:60px;
        padding-bottom:10px;
    }
    #formLog{
        margin-top:20px!important;
    }

}

@media  screen and (max-width: 415px ) {
    #RightPart { /*PARTE COM OS DADOS DO USUARIO*/
        margin-left: 60px !important;
    }
    #tituloPerfil { /*MENSAGEM DO TOPO*/
        margin-left: 15px !important;

    }
    .modal-header + #TituloPriv {
        margin-left:18%;
    }

    .priv input{
        width: 280px;
    }
    .msg{
        width:250px;
    }
    .priv > .modal-body {
        margin-left: 4%;
    }
}
@media  screen and (max-width: 400px ) {
    #leftPart { /*PARTE COM A FOTO DO USUARIO*/
        margin-left: 50px !important;
    }

    #RightPart { /*PARTE COM OS DADOS DO USUARIO*/
        margin-left: 40px !important;
    }
    #tituloPerfil { /*MENSAGEM DO TOPO*/
        margin-left: 17px !important;

    }
    .modal-header + #TituloPriv {
        margin-left:15%;
    }
    .priv input{
        width: 250px;
    }
    .msg{
        width:220px;
    }
    .modal-header + #TituloPriv {
            margin-left:20%;
        }

    .priv > .modal-body {
        margin-left: 10%;
    }
}
@media screen and (max-width: 375px) {
    #RightForm{
        margin-left:-22px;
    }
    #loginAlert {
        margin-left:55px;
    }
}


@media  screen and (max-width: 361px ) {  /*360width*/
    #RightPart { /*PARTE COM OS DADOS DO USUARIO*/
        margin-left: 35px !important;
    }
    #leftPart { /*PARTE COM A FOTO DO USUARIO*/
        margin-left: 45px !important;
    }
    #tituloPerfil { /*MENSAGEM DO TOPO*/
        margin-left: 17px !important;

    }
    .modal-header + #TituloPriv {
        margin-left:17%;
    }
    .priv > .modal-body {
        margin-left: 7%;
    }
    #RightForm{
        width: 345px;

    }
    #RightForm > #RFTitle{
        margin-left:50px;
    }
    .txtBox{
        margin-left:0px;
    }
    #bt1{
        margin-left:-15px;
    }
    #bt2{
        margin-left:110px;
    }
}
@media screen and (max-width: 325px) {
    #RightForm > #RFTitle{
        margin-left:30px;
    }
    #RightForm{
        width: 305px;
    }

    #formLog > label{
        margin-left:-20px;
    }
    .txtBox{
        margin-left:-5px;
        width:275px!important;
    }
    #bt1{
        width:275px!important;
        margin-left:-20px;
    }
    #bt2{
        margin-left:90px;
    }
}
@media  screen and (max-width: 321px ) {
    .perfilContent { /*CONTAINER */
        height: 140%;
    }
    #leftPart { /*PARTE COM A FOTO DO USUARIO*/
        margin-left: 25px !important;
    }
    #RightPart { /*PARTE COM OS DADOS DO USUARIO*/
        margin-left: 25px !important;
    }
    #tituloPerfil { /*MENSAGEM DO TOPO*/
        margin-left: 8px !important;

    }
    #ModalConteudo .modal-header > .close { /*BOTAO DE FECHAR SUPERIOR*/
        font-size:2rem;
    }
    #PerfilDados p, #PerfilDados input { /*INPUTS DE TEXTO E OS P'aragrafos'*/
        width: 250px !important;
    }
    .modal-header + #TituloPriv {
        margin-left:15%;
    }
    .priv > .modal-body {
        margin-left: 1%;
    }
}
@media screen and (min-width: 1025px) {

  .slideout-panel {
    margin-left: 256px;
  }

  .slideout-menu {
    display: block;
  }

  .toggle-button{
    display: none;
  }

}