<div class="modal fade modalPriv" id="modalEdit" tabindex="-1" role="dialog" aria-labelledby="ModalPrivacidade" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content no-border bgs ">

        <div class="modal-header no-border">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&#10006;</span>
            </button>
        </div>

        <h1 id="TituloPriv">Privacidade</h1>
        <div class="container priv">

        <div class="modal-body ">
                <div class="form-group row  " style="display: block" >
                    <label>Senha Atual</label>
                    <input type="password" id="oldOne" class="form-control" >
                </div>
                <div class="form-group row " >
                    <label>Nova Senha</label>
                    <input type="password" id="NewOne" class="form-control" >
                </div>

                <div class="form-group row " >
                    <label>Nova Senha</label>
                    <input type="password" id="NewOne2" class="form-control" >
                </div>
            <!--MENSAGENS DE ERRO, SUCESSO, PREENCHER-->
            <div id="PreencherChangePassword"  class="alert alert-warning msg">
                <strong>Cuidado!</strong> Preencha todos os campos
            </div>
            <div id="sucessoChangePassword" class="alert alert-success msg">
                <strong>Parabéns</strong> Dados Gravados com Sucesso!!
            </div>
            <div id="errorChangePassword" class="alert alert-danger msg">
                <strong>Erro!!</strong> Favor contatar o administrador.
            </div>
            </div>
		</div>
        <div class="modal-footer no-border footerPriv">
          <button type="submit" id="AtualizarSenha" class="btn btn-primary">Atualizar</button>
        </div>
  </div>
</div>
</div>

<script>
$(function()
{
    $(".msg").hide();                                           //ESCONDE AS MENSAGENS DE SUCESSO/ERRO/ETC

  $("#AtualizarSenha").click(function(){

      if($("#NewOne").val() === $("#NewOne2").val() ){
      $.ajax({
      url: "/attPass",  // AQUI É A URL QUE SERA ENVIADO
      type: "POST",   //TIPO DE ENVIO
      dataType: "json", //TIPO DE DADO QUE SERA PASSADO
      data:JSON.stringify({
        oldOne: $("#oldOne").val(),
        newOne: $("#NewOne").val(),
      }),

      contentType: "application/json",
      cache: false,
      timeout: 5000,
      complete: function() {
        // console.log('process complete');
      },
      success: function(data) {

//          showMessage("sucessoChangePassword");
      },

      error: function(x,k,b) {
          console.log("erro");
//      showMessage("errorChangePassword");



      },
    });

  }else alert("Senhas novas desiguais");
    // alert("iguais");

/*

  */
  });
});


</script>
