<div class="modal fade modalPriv" id="modalEdit" tabindex="-1" role="dialog" aria-labelledby="ModalPrivacidade" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content no-border bgs ">

        <div class="modal-header no-border">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&#10006;</span>
            </button>
        </div>

        <h1 id="TituloPriv">Privacidade</h1>

        <div class="container priv">

        <div class="modal-body ">
                <div class="form-group row  " style="display: block" >
                    <label>Senha Atual</label>
                    <input type="password" id="oldOne" class="form-control" >
                </div>
                <div class="form-group row " >
                    <label>Nova Senha</label>
                    <input type="password" id="NewOne" class="form-control" >
                </div>

                <div class="form-group row " >
                    <label>Nova Senha</label>
                    <input type="password" id="NewOne2" class="form-control" >
                </div>
            <!--MENSAGENS DE ERRO, SUCESSO, PREENCHER-->
            <div id="PreencherChangePassword"  class="alert alert-warning msg">
                <strong>Cuidado!</strong> Preencha todos os campos
            </div>
            <div id="sucessoChangePassword" class="alert alert-success msg">
                <strong>Parabéns</strong> Dados Gravados com Sucesso!!
            </div>
            <div id="errorChangePassword" class="alert alert-danger msg">
                <strong>Erro!!</strong> Senha  atual errada
            </div>
            <div id="errorChangePasswordFull" class="alert alert-danger msg">
                <strong>Erro!!</strong> Favor contatar o administrador
            </div>
            <div id="newDiff" class="alert alert-danger msg">
                <strong>Erro!!</strong>Senhas novas desiguais
            </div>
            <div id="" class="form-group row">
                <label for="ShowWords" id="lblSh">Mostrar senhas</label>
                <input type="checkbox" id="ShowWords" class="shPass" >
            </div>
        </div>
		</div>
        <div class="modal-footer no-border footerPriv">
          <button type="submit" id="AtualizarSenha" class="btn btn-primary">Atualizar</button>
        </div>
  </div>
</div>
</div>

<script>
$(function()
{
    $(".msg").hide();                                           //ESCONDE AS MENSAGENS DE SUCESSO/ERRO/ETC
    $("#ShowWords").change(function () {
        if($(this).prop('checked')){
            $('#oldOne').attr('type', 'text');
            $('#NewOne').attr('type', 'text');
            $('#NewOne2').attr('type', 'text');

        }else {
            $('#oldOne').attr('type', 'password');
            $('#NewOne').attr('type', 'password');
            $('#NewOne2').attr('type', 'password');
        }
    });
  $("#AtualizarSenha").click(function(){
    if ($("#NewOne").val()  &&   $("#NewOne2").val() &&  $("#oldOne").val() ){
      if($("#NewOne").val() === $("#NewOne2").val() ){
      $.ajax({
      url: "/attPass",  // AQUI É A URL QUE SERA ENVIADO
      type: "POST",   //TIPO DE ENVIO
      dataType: "json", //TIPO DE DADO QUE SERA PASSADO
      data:JSON.stringify({
        oldOne: $("#oldOne").val(),
        newOne: $("#NewOne").val(),
      }),

      contentType: "application/json",
      cache: false,
      timeout: 5000,
      complete: function() {
        // console.log('process complete');
      },
      success: function(data) {
            if(data =="updated"){
          showMessage("#sucessoChangePassword");

            }
            else if(data == "wrong"){
                   // alert("senhas diferentes");
                    //            $("#errorChangePassword").show();
                              showMessage("#errorChangePassword");

            }
//          showMessage("sucessoChangePassword");
      },

      error: function(x,k,b) {
            console.log(x+ " "+" "+k+" "+b);
          showMessage("#errorChangePasswordFull");
      },
    });

  }else  showMessage("#newDiff");
    // alert("iguais");
    }else {
              showMessage("#PreencherChangePassword");

    }
/*

  */
  });
});


</script>
