
<div id="cabecalho">

<nav  id="topnav" >
<!-- class="navbar navbar-default " -->


  <div class="container-fluid">
    <ul class="nav navbar-nav navbar-right">
        <li >

                   <a href="#" class="dropdown-toggle" data-toggle="dropdown"  aria-haspopup="true" aria-expanded="false" >
       <label id="NamUser"><%= user %> </label>

          <img id="imgUsr"  src=<%= photoID %> style="">

          </a>

          <ul class="dropdown-menu">
            <li><a class="btperfil"   data-toggle="modal" data-target=".modalPerfil" >Perfil</a></li>
            <li><a class="btperfil"   data-toggle="modal" data-target=".modalPriv" >Privacidade</a></li>
            <li><a href="/logout">Sair</a></li>
          </ul>
        </li>
        </ul>
  </div>
</nav>
</div>

<!-- <button class="btn btn-primary">Large modal</button> -->

