<div class="bloco">
	<div class="bt_bloco">
			
	</div>

  </div>
<div class="bloco">
	<div class="bt_bloco">
			
	</div>
	
  </div>
  <div class="bloco">
	<div class="bt_bloco">
			
	</div>
	
  </div>
